@charset "UTF-8";
body {
	font-family: Helvetica;
	font-size: 15px;
	background: url(../img/body.png); 
	margin: 0px;
	padding: 0px;
}
a{
    text-decoration: none;
    text-decoration-color: aliceblue;
}
#dataTables-example tr td{
	width: 40px;
	height: 10px;
}
#id {
    padding: 5px;
    margin: 5px;
	background-color: #E8E8E8;
    border: 55px;
}
#fullname {
    padding: 5px;
    margin: 5px;
	background-color: #E8E8E8;
    border: 55px;
}
#birth {
    padding: 5px;
    margin: 5px;
	background-color: #E8E8E8 ;
    border: 55px;
}
#department {
    padding: 5px;
    margin: 5px;
	background-color: #E8E8E8;
    border: 55px;
}
#position {
    padding: 5px;
    margin: 5px;
	background-color: #E8E8E8;
    border: 55px;
}
#email {
    padding: 5px;
    margin: 5px;
	background-color: #E8E8E8;
    border: 55px;
}

#header{
	background-image:url(../img/nhanvienlogin/header.jpg); repeat-x;
	height: 109px;
	background-size: cover;
}
 #webname{
 	width: 1000px;
 	margin: 0px auto;
 	height: 109px;
 }
#webname img{
 	margin-top: 25px;
 }
.itemFuntion{
    text-align:center;
}
 #header_icon{

 	float: right;
    margin-top: 0px;
    margin-right: 10px;
 }
#content {
	margin: auto;
	margin-top: 20px;
    height: 530px;
    width: 1000px;
    border: 1px solid #c9c9c9;
    border-radius: 15px;
    background-color: #ffffff;
}
#information{
    margin: 11px;
    height: 500px;
    float: left;
    width: 470px;
    border: 1px solid #c9c9c9;
    border-radius: 15px; 
}
#function{
    margin: 11px;
    float: right;
    height: 500px;
    width: 480px;
    border: 1px solid #c9c9c9;
    border-radius: 15px;   
}
#spreadsheet{
	margin-top: 50px;
	margin-left: 50px;
}
#search{
	margin-top: 50px;
	margin-left: 50px;
}
#statistic{
	margin-top: 50px;
	margin-left: 50px;
}
.button_style{   
background-color: Transparent;
border: none;             
cursor:pointer;  
text-decoration-color: #000000;  
}
.btn-success{
	color:aliceblue;
	background-color: #5cb85c;
	border-color: #4cae4c;
}
.btn-primary {
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
}
.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}